<!-- Task1 -->

<div class="signIn">
  <h2>Please Sign In</h2>
  <form action="">
    <input type="text" placeholder="Email address">
    <input type="password" placeholder="Password"><br>
    <div class="check">
      <input type="checkbox">
      <span>Remember me</span>
    </div>
    <br>
    <button class="signinbtn">Sign In</button>
    <p>&#169; 2017-2020</p>
  </form>
</div>

<!-- Task2 -->

<div class="container">
  <div class="appv2">
    <h3 class="head">App V2.1 released</h3><span class="date">2020-11-20</span>
    <p>This release contains large update of the German translation and few bug fixes.</p>
    <p>Eager to learn more about the new features?Follow us on <a href="#" class="alert-link">Facebook</a>, <a href="#" class="alert-link">Twitter</a> or <a href="#" class="alert-link">LinkedIn</a></p>

    <button class="btn btn-success">Go To DOWNLOAD PAGE</button>
    <button class="light btn btn-success">COMPLETE LIST OF CHANGES</button>
  </div>

  <div class="appv2">
    <h3 class="head">App v2.0 released</h3>  <span class="date">2020-10-15</span>
    <p>In this release, App was updated to OpenSSL 1.1.1h. This version also fixes several bugs and adds some small improvements.</p>

    <button class="light btn btn-success">COMPLETE LIST OF CHANGES</button>
  </div>
  <router-outlet></router-outlet>
</div>