<div class="container">
    <i>logo</i><p>your free trail is over. Please subscribe to continue using the services. <button>subscribe</button></p>

    <div class='wrap'>
        <p>Current Plan</p>
        <hr>
        <i>logo</i>
        <h4>No Active Plan</h4>
        <p>0 backtests per day</p>
        <p>0 live deployements at a time</p>
        <p>100 scans per day</p>

        <p>Change Plan</p>
    </div>
    <div class="vl"></div>
    <div class="wrap">
        <p>Payment method</p>
    </div>
</div>
<h5>INVOICES</h5>
<hr>
<div class="invoice">
    <table>
        <tr>
            <td>Date</td>
            <td>Plan</td>
            <td>Billing Period</td>
            <td>Payment Method</td>
            <td>Paid Amount</td>
            <td>Invoice</td>
        </tr>
        <tr>
            <td>04/Jan/2019</td>
            <td>Basic 1 month</td>
            <td>04/Jan/2019 - 02/Feb/2019</td>
        </tr>
    </table>
</div>